
<div class="text-center">
    <h1 class="text-muted">Welcome to the Musique group gestion</h1>
    <div class="col-4 mx-auto">
        <label class="form-label" for="xlsFile">You can import xls file to add music groups.</label>
        <input type="file" class="form-control" id="xlsFile" accept=".xlsx ,.xls"
               onchange="console.log(event.target.files)"/>
        <button class="btn btn-danger mt-3" (click)="postMusicGroup()">Import</button>
        <span class="divider line one-line fadeIn five">OR</span>
    </div>
</div>
---

<div class="col-md-8 form-group">
    <input #inputFile  type="file" class="form-control" (change)="addFileInField($event)" placeholder="Upload file"
           accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
</div>
