<div class="text-center">
    <h1 class="text-muted">Welcome to the Musique group gestion</h1>
    <div class="col-5 mx-auto">
        <label class="form-label" for="xls_file">You can import xls file to add music groups (In ressources folder).</label>
        <input #inputFile id="xls_file" type="file" class="form-control" (change)="addFileInField($event)" placeholder="Upload file"
               accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        <button class="btn btn-danger mt-3" (click)="importFile()">Import</button>
        <div [class]="className + ' mt-2'">{{importFileMessage}}</div>
        <span class="divider line one-line fadeIn five">OR</span>
    </div>
</div>
