
<app-file-import></app-file-import>

<table class="table table-sm mx-auto mt-4">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let mg of musicGroups">
        <th scope="row">{{mg.id}}</th>
        <td>{{mg.startDate | date:'YYYY'}}</td>
        <td>{{mg.separationDate | date: 'YYYY'}}</td>
        <td>@{{mg.id}}</td>
    </tr>
    </tbody>
</table>
