<app-file-import></app-file-import>

<div *ngIf="!musicGroups.length" class="text-muted text-center mt-4">
No data here
</div>

<table *ngIf="musicGroups.length" class="table table-sm mx-auto mt-4">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">City</th>
        <th scope="col">Start</th>
        <th scope="col">Separation </th>
        <th scope="col">Founder</th>
        <th scope="col">Members</th>
        <th scope="col">Trend</th>
        <th scope="col">Presentation</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let mg of musicGroups">
        <th scope="row">{{mg.id}}</th>
        <td>{{mg.name}}</td>
        <td>{{mg.city.country.name}}</td>
        <td>{{mg.city.name}}</td>
        <td>{{mg.startDate | date:'YYYY'}}</td>
        <td>{{mg.separationDate | date: 'YYYY'}}</td>
        <td>{{mg.founder}}</td>
        <td>{{mg.members}}</td>
        <td>{{mg.musicTrend?.name }}</td>
        <td>{{mg.presentation}}</td>
        <td>
            <button class="btn btn-sm btn-outline-primary  mb-2">Edit</button>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteItem(mg.id)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
